<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>controladores.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Galeria</servlet-name>
        <servlet-class>controladores.Galeria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contactenos</servlet-name>
        <servlet-class>controladores.Contactenos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>controladores.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guia</servlet-name>
        <servlet-class>controladores.Guia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Motivate</servlet-name>
        <servlet-class>controladores.Motivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>controladores.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plan_viaje</servlet-name>
        <servlet-class>plan_viaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Plan_Viajes</servlet-name>
        <servlet-class>controladores.Plan_Viajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contacto</servlet-name>
        <servlet-class>modelos.Contacto</servlet-class>
        <init-param>
            <param-name>CONTACTO</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Registros</servlet-name>
        <servlet-class>modelos.Registros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Galeria</servlet-name>
        <url-pattern>/Galeria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contactenos</servlet-name>
        <url-pattern>/contactenos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guia</servlet-name>
        <url-pattern>/guia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Motivate</servlet-name>
        <url-pattern>/motivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/ProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Plan_Viajes</servlet-name>
        <url-pattern>/plan_viajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contacto</servlet-name>
        <url-pattern>/Contacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registros</servlet-name>
        <url-pattern>/Registros</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
